{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "arrow-body-style": ["off"],
    "func-names": ["off"],
    "no-inline-comments": ["error"],
    "semi": ["error", "never"]
  }
}
