{
  "extends": "airbnb/base",
  "rules": {
    "arrow-body-style": ["off"],
    "func-names": ["off"],
    "consistent-return": ["off"],
    "no-inline-comments": ["error"],
    "no-console": ["off"],
    "max-len": ["error", 120],
    "semi": ["error", "never"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
  }]
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  }
}
