.DS_Store
.gitignore
fundir
node_modules
post.md
tests
endpoints/sms.js
endpoints/phone.js
endpoints/phone2.js
endpoints/phone
endpoints/sms
endpoints/closed_endpoints
endpoints/kosningar
lib/phantom_daemon.js
index.php
docs
test
kosningar.js