
ul {}

ol {}

dl {
  @include reset-list;
  margin: 0 auto $spacing;
  padding: 0 0 ;

  dt {
    float: left;
    width: 140px;
    font-size: 14px;
    font-weight: 700;
    font-family: $font-family-mono;
    text-transform: uppercase;

    &.req,
    &.required {
      position: relative;
      &:after {
        content: '(required)';
        padding-left: 0.2em;
        font-weight: 400;
        font-size: 12px;
        display: inline-block;
        vertical-align: 1px;
      }
    }
  }
  dd {
    margin: 0 0 $spacing/2;
    padding: 0 0 0 140px;

    font-size: 14px;
  }
}

hl {
  @include reset-list;
  display: block;

  font-size: 0;

  &.left { text-align: left; }
  &.center { text-align: center; }
  &.right { text-align: right; }

  li {
    display: inline-block;

    font-size: rem-calc($font-size);

    + li { margin-left: $spacing; }
  }
}
