
loader {
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 999;

  display: block;
  width: 55px;
  height: 55px;

  html.prep &,
  html.loaded & {
    animation: scaleFull .5s linear 1 forwards;
    animation-timing-function: cubic-bezier(0.750, 0.000, 0.500, 1.000);
  }

  html.loaded & {
    transition-property: opacity, z-index;
    transition-duration: $transition-duration-slow;
    transition-delay: $transition-duration*2;
    opacity: 0;
    z-index: 0;
  }

  box {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background: $color-blue;
    border-radius: 3px;

    animation: rotateBounce .5s linear 4;

    transition-property: border-radius;
    transition-duration: $transition-duration;

    html.prep &,
    html.loaded & {
      border-radius: 0;
    }
  }

  shadow {
    position: absolute;
    top: 66px;
    left: 0;

    display: block;
    width: 100%;
    height: 10%;

    background: #000;
    border-radius: 50%;

    opacity: 0.1;

    animation: shadow .5s linear 4;

    transition-property: opacity;
    transition-duration: $transition-duration;

    html.prep &,
    html.loaded & {
      opacity: 0;
    }
  }
}
