
overlay {
  display: block;
  background-color: rgba($color-dark, 0.25);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(100%, 0, 0);
  transition: opacity $transition-duration, transform $transition-duration ease $transition-duration;
  z-index: 80;

  body[data-sidebar-state='open'] & {
    cursor: pointer;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity $transition-duration ease $transition-duration, transform $transition-duration;
  }
}
