
[sticky] {

  [stickwrap] {
    display: block;
  }

  [stickme] {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    transition-property: transform, opacity;
    transition-duration: $transition-duration-slow;
  }

  &[scrolltrigger='active'] [stickme] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
[sticky='true'] [stickme] {
  position: fixed;
  top: 0;
  z-index: 20;
}
