block endpointvars
  - var shortname;
  - var title;
  - var icon;

article.endpoint(id="endpoint-"+shortname shortname=shortname title=title icon=icon)
  row: column.medium-10.large-8.col-centered
    hgroup
      icon.blue.fa(class='fa-'+icon)
      h3: a(href='#endpoint-'+shortname)
        icon.fa.fa-link
        =title
      block sources

    block endpoints
