if env == 'development'
  script(data-main='/js/main', src='/js/vendor/require.js')
else
  script(src='/js/main.js')

script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33726914-3']);
  _gaq.push(['_setDomainName', 'docs.apis.is']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
