hero.yellow.slider(window-height='force:true,above:830')
  content(window-height='force:true,subtract:100')
    slider
      nav
      slides
        slide.vodafone(data-name='Vodafone')
          row.no-gutter.figure
            column.xsmall-10.medium-5.xlarge-6
              figure: img(data-src='//img.kolibri.is/projects/cover-vodafone-03.png')
          row.no-gutter.text
            column.small-10.medium-5.medium-up-offset-1: .box
              h1: a(href='/verkefni/vodafone') Sjálfsafgreiðsla<br/>
                small og ánægðari <span>viðskiptavinir</span>
              p Vodafone leitaði til Kolibri um gerð á nýju útibúi fyrir vefinn. Afraksturinn eru Mínar síður þar sem viðskiptavinir geta þjónustað sig sjálfir með ýmis erindi.

        slide.nikita(data-name='Nikita')
          row.no-gutter.figure
            column.xsmall-10.medium-6
              figure: img(data-src='//img.kolibri.is/projects/cover-nikita.png')
          row.no-gutter.text
            column.small-10.medium-5.medium-up-offset-1: .box
              h1: a(href='/verkefni/nikita') Alþjóðleg vefverslun<br/>
                small með frábærri <span>upplifun</span>
              p Kolibri setti mikinn metnað í að hanna og þróa fyrstu vefverslun Nikita á þann hátt sem hæfir vörumerkinu.

        slide.nova(data-name='Nova')
          row.no-gutter.figure
            column.xsmall-10.medium-6
              figure: img(data-src='//img.kolibri.is/projects/cover-nova-alt.png')
          row.no-gutter.text
            column.small-10.medium-5.medium-up-offset-1: .box
              h1: a(href='/verkefni/nova') Snjall vefur<br/>
                small fyrir markaðsfyrirtæki <span>ársins</span>
              p Kolibri leiddi þróun á nýjum vef fyrir markaðsfyrirtæki ársins, Nova. Vefurinn er iðandi af lífi og fjöri og veitir sömu upplifun á snjalltækjum og á hefðbundnum tölvum.

        slide.ja(data-name='Já.is')
          row.no-gutter.figure
            column.xsmall-10.medium-6
              figure: img(data-src='//img.kolibri.is/projects/cover-ja.png')
          row.no-gutter.text
            column.small-10.medium-5.medium-up-offset-1: .box
              h1: a(href='/verkefni/ja') Hvað viltu finna?<br/>
                small Gjörbreyttur <span>Já.is</span>
              p Nýjar áherslur á gjörbreyttum Já.is. Hraðara aðgengi að því sem skiptir máli fyrir allar skjástærðir.
