@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes spin360 {
  100% { transform:rotate(360deg); }
}
@keyframes rotateBounce {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}
@keyframes scaleFull {
  100% {
    top: 0; left: 0;
    // width: 100%;
    // height: calc(100% - 40px);
  }
}
