
input[type="color"] {
  padding: 1px 3px !important;

  &, .input-wrap & {
    &.small { width: $element-small; }
    &,&.medium { width: $element-medium; }
    &.large { width: $element-large; }
  }
}
