extends shared/_layout

block hero
  section.section.full.dark
    .inner
      .limit.padding.tight.text-center
        h1 awkward..!
        h3 This page doesn't exist!
        p.large.
          Bad link? Mistyped address? We're not sure, but since this documentation
          is a single page website you're either just messing about, getting
          <a href="http://www.urbandictionary.com/define.php?term=trixed" target="_blank">trixed</a>
          or simply lost!

        p.large.
          Don’t worry though, it doesn't have to be anybody's fault, just
          head on back to our <a href="/">front page</a> and start having fun!

block content
  section.section.full.light#about
    .limit.padding.tight.text-center
      p.large.
        If you’re in denial and believe this is a conspiracy, please enjoy this
        thorough video tutorial on bathing your pet guinea pig.

      | <iframe class="video" width="700" height="525" src="//www.youtube-nocookie.com/embed/EJ7u_zp7BVs?rel=0" frameborder="0" allowfullscreen></iframe>

block footer
  .limit.padding
    p.
      If you're still here, you must be seriously bored!<br/>
      Perhaps you should check out our
      <a href="https://github.com/kristjanmik/apis" target="_blank">github repo</a>
      and do some contributing?
