extends shared/_layout

block hero
  section.section.full.dark
    .inner
      .limit.padding.tight.text-center
        h1 Oops..!
        h3 This time it's our fault :(
        p.large
          a(href='javascript:window.location.reload()') Try again
          | in a little while

block footer
  .limit.padding
    p.
      If you're still here, we must be having some problems!<br/>
      Perhaps you should check out our
      <a href="https://github.com/kristjanmik/apis" target="_blank">github repo</a>
      for now.
