extends shared/_layout

block hero
  include home/_welcome

block content

  include home/_about
  include home/_endpoints

  include apis/_address
  include apis/_bus
  include apis/_car
  include apis/_company
  include apis/_concerts
  include apis/_currency
  include apis/_cyclecounter
  include apis/_earthquake
  include apis/_flight
  include apis/_hospital
  include apis/_lottery
  include apis/_particulates
  include apis/_price
  include apis/_rides
  include apis/_sarschool
  include apis/_sports
  include apis/_tv
  include apis/_weather

block footer
  footer: section.dark
    row: column.medium-10.large-8.col-centered
      box: p.text-large Would you like to suggest a new endpoint to be implemented?<br/>Don't hesitate to <a class="light" href="mailto:apis@apis.is">contact us</a>, or contribute to our <a class="light" href="https://github.com/kristjanmik/apis" target="_blank">github repo</a>.
