body {
    padding-top: 60px;
    padding-bottom: 40px;
    background: url('/phone/img/cream_dust.png') repeat;
    background-size: 100px 100px; /* size in px of image @1X */
}
.sidebar-nav {
    padding: 9px 0;
}
.bs-docs-example::after{
    content:"Dæmi";
}
.well{
    margin-bottom:40px;
}
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #049cdb; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

.loader {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.no-results {
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 32px;
    text-align: center;
    font-family: 'Iceland', cursive;
    color: #cccccc;
    background: #eeeeee;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 20px;
    text-shadow: 0 1px 0 #fff;
}

.welcome  {
    text-align: justify;
    max-width: 500px;
    margin: 0 auto;
}
h1 {
    margin: 0;
}

h1 a {
    font-size: 50px;
    font-family: 'Iceland', cursive;
    font-style: normal;
}

h1 a small {
    color: #000;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-family: 'Iceland', cursive;
    font-style: normal;
    font-size: 32px;
    text-shadow: 0 1px 0 #fff;
    color: #000;
}

.hidden, input.hidden, *.hidden { display: none; }