extends ../shared/_endpoint

block endpointvars
  - var shortname = 'address'
  - var title = 'Icelandic Addresses'
  - var icon = 'home'

block sources
  h4
    | Source:&nbsp;
    a(href='http://postur.is' target="_blank") Iceland Post

block endpoints
  box.light.endpoint
    +disabledtitlebar('get','/address')
    .content
      p Lookup addresses in Iceland through the Icelandic Post API

      h5.params(toggle-next) Parameters
      dl.params
        dt.required address
        dd Valid address

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/address',
          'type': 'GET',
          'dataType': 'json',
          'data': {'address': 'laugavegur 1'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "street": "laugavegur",
              "house": 1,
              "zip": "101",
              "city": "Reykjavík",
              "apartment": "",
              "letter": ""
            }
          ]
        }
