extends ../shared/_endpoint

block endpointvars
  - var shortname = 'bus'
  - var title = 'Icelandic Bus System'
  - var icon = 'bus'

block sources
  h4
    | Source:&nbsp;
    a(href='http://bus.is' target="_blank") bus.is

block endpoints
  box.light.endpoint
    +titlebar('get','/bus/realtime')
    .content
      p Real-time location of busses. Results are only shown for active busses.

      h5.params(toggle-next) Parameters
      dl.params
        dt busses
        dd Comma seperated list of numbers. <b>Good to know:</b> If not declared, the endpoint will return location of all available busses.

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/bus/realtime',
          'type': 'GET',
          'dataType': 'json',
          'data': {'busses': '1,5'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
            "results": [
                {
                    "busNr": "1",
                    "busses": [
                        {
                            "unixTime": 1354618575,
                            "x": 64.090668,
                            "y": -21.92904,
                            "from": "Hlemmur",
                            "to": "Klukkuvellir"
                        },
                        {
                            "unixTime": 1354618575,
                            "x": 64.086315,
                            "y": -21.937813,
                            "from": "Klukkuvellir",
                            "to": "Hlemmur"
                        }
                    ]
                },
                {
                    "busNr": "5",
                    "busses": [
                        {
                            "unixTime": 1354618563,
                            "x": 64.135644,
                            "y": -21.850126,
                            "from": "Hlemmur",
                            "to": "Elliðabraut / Árvað"
                        },
                        {
                            "unixTime": 1354618577,
                            "x": 64.143989,
                            "y": -21.913048,
                            "from": "Elliðabraut / Árvað",
                            "to": "Hlemmur"
                        }
                    ]
                }
            ]
        }
