extends ../shared/_endpoint

block endpointvars
  - var shortname = 'car'
  - var title = 'Cars in Iceland'
  - var icon = 'car'

block sources
  h4
    | Source:&nbsp;
    a(href='http://ww2.us.is/node/928' target="_blank") The Road Traffic Directorate

block endpoints
  box.light.endpoint
    +titlebar('get','/car?number=aa031')
    .content
      p Search the icelandic vehicle registry

      h5.params(toggle-next) Parameters
      dl.params
        dt.required number
        dd Registry number

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/car',
          'type': 'GET',
          'dataType': 'json',
          'data': {'number': 'aa031'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
            "results": [
                {
                    "registryNumber": "AA031",
                    "number": "AA031",
                    "factoryNumber": "VF37ENFZE32286866",
                    "type": "PEUGEOT",
                    "subType": "306",
                    "color": "Blár",
                    "registeredAt": "26.02.1998",
                    "status": "Í lagi",
                    "nextCheck": "01.01.2013",
                    "pollution": "",
                    "weight": "1120"
                }
            ]
        }
