
block endpointvars
  - var shortname = 'cinema'
  - var title = 'Icelandic cinema'

article.endpoint(id="endpoint-"+shortname shortname=shortname title=title)
  row: column.medium-10.large-8.col-centered
    hgroup
      h3 Icelandic cinema
      h4 Closed endpoint, requested by:&nbsp;
        a(href="http://kvikmyndir.is/" target="_blank") kvikmyndir.is
      h4 They now provide&nbsp;
        a(href="http://kvikmyndir.is/um-kvikmyndir/" target="_blank") their own API.
