extends ../shared/_endpoint

block endpointvars
  - var shortname = 'company'
  - var title = 'Icelandic companies'
  - var icon = 'building'

block sources
  h4
    | Source:&nbsp;
    a(href='http://rsk.is' target="_blank") Directorate of Internal Revenue in Iceland

block endpoints
  box.light.endpoint
    +titlebar('get','/company?name=blendin')
    .content
      p
        | Search the icelandic company registry
        br
        b NB: At least one parameter is required.

      h5.params(toggle-next) Parameters
      dl.params
        dt name
        dd Company name
        dt address
        dd Company's address
        dt socialnumber
        dd Company's social security number / ID number
        dt vsknr
        dd Company's VAT-number (VSK in icelandic)

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/company',
          'type': 'GET',
          'dataType': 'json',
          'data': {'name': 'blendin'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "name": "Blendin ehf.",
              "sn": "6304141720",
              "active": 1,
              "address": "Hamrahlíð 9  105 Reykjavík"
            }
          ]
        }
