extends ../shared/_endpoint

block endpointvars
  - var shortname = 'cyclecounter'
  - var title = 'Bicyclecounter in Reykjavik'
  - var icon = 'bicycle'

block sources
  h4
    | Source:&nbsp;
    a(href='http://bicyclecounter.dk' target="_blank") Bicycle Counter

block endpoints
  box.light.endpoint
    +titlebar('get','/cyclecounter')
    .content
      p.
        Get current status of bicycle counters in Iceland, currently only one
        located by Sudurlandsbraut in Reykjavik.

      h5.params No parameters available

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/cyclecounter',
          'type': 'GET',
          'dataType': 'json',
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "DayCount": "154",
              "YearCount": "31853",
              "Time": "16:48",
              "Date": "18. Sep 2013"
            }
          ]
        }