extends ../shared/_endpoint

block endpointvars
  - var shortname = 'flight'
  - var title = 'International flights in Iceland'
  - var icon = 'plane'

block sources
  h4
    | Source:&nbsp;
    a(href='http://kefairport.is' target="_blank") Keflavik Airport

block endpoints
  box.light.endpoint
    +titlebar('get','/flight?language=en&type=departures')
    .content
      p Get a list of all international flights departing and arriving at <a href="http://kefairport.is" target="_blank">Keflavik Airport</a> today.

      h5.params(toggle-next) Parameters
      dl.params
        dt.required language
        dd 'en' or 'is'
        dt.required type
        dd 'departures' or 'arrivals'

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/flight',
          'type': 'GET',
          'dataType': 'json',
          'data': {'language': 'en', 'type': 'departures'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
            "results": [
                {
                    "date": "26. Jan",
                    "flightNumber": "FI671",
                    "to": "Denver Intl",
                    "plannedArrival": "17:00",
                    "realArrival": "17:23",
                    "status": "Departed 17:12"
                },
                {
                    "date": "26. Jan",
                    "flightNumber": "FI615",
                    "to": "New York JFK",
                    "plannedArrival": "17:05",
                    "realArrival": "17:26",
                    "status": "Departed 17:17"
                }
            ]
        }
