extends ../shared/_endpoint

block endpointvars
  - var shortname = 'rides'
  - var title = 'Carpooling in Iceland'
  - var icon = 'cab'

block sources
  h4
    | Source:&nbsp;
    a(href='http://samferda.net' target="_blank") samferda.net

block endpoints
  box.light.endpoint
    +titlebar('get','/rides/samferda-drivers/')
    .content
      p Get a list of drivers requesting passengers, sorted by departure date.

      h5.params No parameters available

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/rides/samferda-drivers/',
          'type': 'GET',
          'dataType': 'json',
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "link": "http://www.samferda.net/en/detail/12345",
              "from": "Akureyri",
              "to":   "Reykjavík",
              "date": "2014-09-30",
              "time": "After 14:30"
            }
          ]
        }

  box.light.endpoint
    +titlebar('get','/rides/samferda-passengers/')
    .content
      p Get a list of passengers requesting rides, sorted by preferred departure date

      h5.params No parameters available

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/rides/samferda-passengers/',
          'type': 'GET',
          'dataType': 'json',
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "link": "http://www.samferda.net/en/detail/54321",
              "to":   "Reykjavík",
              "from": "Akureyri",
              "date": "2014-09-30",
              "time": "Any"
            }
          ]
        }
