extends ../shared/_endpoint

block endpointvars
  - var shortname = 'weather'
  - var title = 'Icelandic Weather'
  - var icon = 'sun-o'

block sources
  h4
    | Source:&nbsp;
    a(href='http://vedur.is' target="_blank") Icelandic Meteorological Office

block endpoints
  box.light.endpoint.disabled
    +disabledtitlebar('get','/weather/:source/:lang')
    .content
      p
        | Get weather information for Iceland.
        br
        | Under 'Descriptions' you will find a list that will help you understand the output of the following endpoints.

      h5.params(toggle-next) Parameters
      dl.params
        dt.req /:type
        dd Type of information to get (forecasts|observations|texts)
        dt /:lang
        dd Language of output ('en' or 'is'), defaults to 'is'

      h5.descriptions(toggle-next='closed') Descriptions
      pre.descriptions: code.javascript.
        var descriptions = {
          'F'   : { 'is': 'Vindhraði (m/s)',
                    'en': 'Wind speed (m/s)'},
          'FX'  : { 'is': 'Mesti vindhraði (m/s)',
                    'en': 'Top wind speed (m/s)'},
          'FG'  : { 'is': 'Mesta vindhviða (m/s)',
                    'en': 'Top wind gust (m/s)'},
          'D'   : { 'is': 'Vindstefna',
                    'en': 'Wind direction'},
          'T'   : { 'is': 'Hiti (°C)',
                    'en': 'Air temperature (°C)'},
          'W'   : { 'is': 'Veðurlýsing',
                    'en': 'Weather description'},
          'V'   : { 'is': 'Skyggni (km)',
                    'en': 'Visibility (km)'},
          'N'   : { 'is': 'Skýjahula (%)',
                    'en': 'Cloud cover (%)'},
          'P'   : { 'is': 'Loftþrýstingur (hPa)',
                    'en': 'Air pressure'},
          'RH'  : { 'is': 'Rakastig (%)',
                    'en': 'Humidity (%)'},
          'SNC' : { 'is': 'Lýsing á snjó',
                    'en': 'Snow description'},
          'SND' : { 'is': 'Snjódýpt',
                    'en': 'Snow depth'},
          'SED' : { 'is': 'Snjólag',
                    'en': 'Snow type'},
          'RTE' : { 'is': 'Vegahiti (°C)',
                    'en': 'Road temperature (°C)'},
          'TD'  : { 'is': 'Daggarmark (°C)',
                    'en': 'Dew limit (°C)'},
          'R'   : { 'is': 'Uppsöfnuð úrkoma (mm/klst) úr sjálfvirkum mælum',
                    'en': 'Cumulative precipitation (mm/h) from automatic measuring units'}
        };

  box.light.endpoint.disabled
    +disabledtitlebar('get','/weather/forecasts/:lang')
    .content
      h5.params(toggle-next) Parameters
      dl.params
        dt /:lang
        dd Language of output ('en' or 'is'), defaults to 'is'
        dt.required stations
        dd List of station numbers seperated by commas(,) or semicolons(;).<br/>See links below for more information.<br/>
          <a href="http://www.vedur.is/vedur/stodvar" target="_blank">Weather stations (icelandic)</a> | <a href="http://en.vedur.is/weather/stations/" type="_blank">Weather stations (english)</a>

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/weather/forecasts/en',
          'type': 'GET',
          'dataType': 'json',
          'data': {'stations': '1,422'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "name": "Reykjavík",
              "atime": "2013-09-17 12:00:00",
              "err": "",
              "link": "http://en.vedur.is/WeatherServlet/weather/forecasts/areas/reykjavik/#group=100&station=1",
              "forecast": [
                {
                  "ftime": "2013-09-17 15:00:00",
                  "F": "9",
                  "D": "N",
                  "T": "7",
                  "W": "Clear sky",
                  "N": "0",
                  "TD": "-3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-17 18:00:00",
                  "F": "8",
                  "D": "N",
                  "T": "7",
                  "W": "Clear sky",
                  "N": "0",
                  "TD": "-4",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-17 21:00:00",
                  "F": "8",
                  "D": "N",
                  "T": "6",
                  "W": "Partly cloudy",
                  "N": "20",
                  "TD": "-4",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 00:00:00",
                  "F": "6",
                  "D": "NNW",
                  "T": "5",
                  "W": "Partly cloudy",
                  "N": "40",
                  "TD": "-3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 03:00:00",
                  "F": "6",
                  "D": "N",
                  "T": "5",
                  "W": "Cloudy",
                  "N": "70",
                  "TD": "-4",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 06:00:00",
                  "F": "5",
                  "D": "NNW",
                  "T": "4",
                  "W": "Partly cloudy",
                  "N": "30",
                  "TD": "-2",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 09:00:00",
                  "F": "5",
                  "D": "N",
                  "T": "5",
                  "W": "Clear sky",
                  "N": "0",
                  "TD": "-2",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 12:00:00",
                  "F": "4",
                  "D": "NNW",
                  "T": "6",
                  "W": "Clear sky",
                  "N": "0",
                  "TD": "-3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 15:00:00",
                  "F": "3",
                  "D": "NNW",
                  "T": "7",
                  "W": "Clear sky",
                  "N": "0",
                  "TD": "-3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 18:00:00",
                  "F": "3",
                  "D": "N",
                  "T": "8",
                  "W": "Partly cloudy",
                  "N": "0",
                  "TD": "-2",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-18 21:00:00",
                  "F": "3",
                  "D": "NE",
                  "T": "6",
                  "W": "Cloudy",
                  "N": "100",
                  "TD": "0",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 00:00:00",
                  "F": "2",
                  "D": "E",
                  "T": "4",
                  "W": "Overcast",
                  "N": "90",
                  "TD": "0",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 03:00:00",
                  "F": "3",
                  "D": "ESE",
                  "T": "4",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "1",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 06:00:00",
                  "F": "4",
                  "D": "ESE",
                  "T": "5",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "3",
                  "R": "0.4"
                },
                {
                  "ftime": "2013-09-19 09:00:00",
                  "F": "4",
                  "D": "ESE",
                  "T": "5",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "4",
                  "R": "0.4"
                },
                {
                  "ftime": "2013-09-19 12:00:00",
                  "F": "5",
                  "D": "SE",
                  "T": "7",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "5",
                  "R": "0.8"
                },
                {
                  "ftime": "2013-09-19 15:00:00",
                  "F": "7",
                  "D": "ESE",
                  "T": "7",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "5",
                  "R": "0.6"
                },
                {
                  "ftime": "2013-09-19 18:00:00",
                  "F": "7",
                  "D": "ESE",
                  "T": "5",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "4",
                  "R": "1.7"
                },
                {
                  "ftime": "2013-09-20 00:00:00",
                  "F": "7",
                  "D": "ESE",
                  "T": "5",
                  "W": "Rain",
                  "N": "100",
                  "TD": "4",
                  "R": "2.2"
                },
                {
                  "ftime": "2013-09-20 06:00:00",
                  "F": "2",
                  "D": "SE",
                  "T": "3",
                  "W": "Rain",
                  "N": "100",
                  "TD": "3",
                  "R": "8.1"
                },
                {
                  "ftime": "2013-09-20 12:00:00",
                  "F": "2",
                  "D": "NW",
                  "T": "6",
                  "W": "Rain showers",
                  "N": "30",
                  "TD": "2",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-20 18:00:00",
                  "F": "5",
                  "D": "W",
                  "T": "6",
                  "W": "Rain",
                  "N": "100",
                  "TD": "3",
                  "R": "1.3"
                },
                {
                  "ftime": "2013-09-21 00:00:00",
                  "F": "3",
                  "D": "WSW",
                  "T": "5",
                  "W": "Rain",
                  "N": "100",
                  "TD": "5",
                  "R": "8.7"
                },
                {
                  "ftime": "2013-09-21 06:00:00",
                  "F": "3",
                  "D": "WSW",
                  "T": "6",
                  "W": "Light rain",
                  "N": "80",
                  "TD": "5",
                  "R": "1.0"
                },
                {
                  "ftime": "2013-09-21 12:00:00",
                  "F": "3",
                  "D": "WSW",
                  "T": "7",
                  "W": "Light rain",
                  "N": "90",
                  "TD": "5",
                  "R": "0.5"
                },
                {
                  "ftime": "2013-09-21 18:00:00",
                  "F": "2",
                  "D": "W",
                  "T": "8",
                  "W": "Rain showers",
                  "N": "60",
                  "TD": "5",
                  "R": "0.8"
                },
                {
                  "ftime": "2013-09-22 00:00:00",
                  "F": "3",
                  "D": "E",
                  "T": "4",
                  "W": "Overcast",
                  "N": "100",
                  "TD": "3",
                  "R": "0.1"
                },
                {
                  "ftime": "2013-09-22 06:00:00",
                  "F": "4",
                  "D": "ENE",
                  "T": "6",
                  "W": "Overcast",
                  "N": "100",
                  "TD": "2",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-22 12:00:00",
                  "F": "6",
                  "D": "E",
                  "T": "8",
                  "W": "Rain",
                  "N": "100",
                  "TD": "2",
                  "R": "0.3"
                },
                {
                  "ftime": "2013-09-22 18:00:00",
                  "F": "7",
                  "D": "ESE",
                  "T": "8",
                  "W": "Rain",
                  "N": "100",
                  "TD": "7",
                  "R": "5.2"
                },
                {
                  "ftime": "2013-09-23 00:00:00",
                  "F": "8",
                  "D": "SSE",
                  "T": "9",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "9",
                  "R": "1.1"
                }
              ],
              "id": "1",
              "valid": "1"
            },
            {
              "name": "Akureyri",
              "atime": "2013-09-17 12:00:00",
              "err": "",
              "link": "http://en.vedur.is/WeatherServlet/weather/forecasts/areas/northeast/#group=15&station=422",
              "forecast": [
                {
                  "ftime": "2013-09-17 15:00:00",
                  "F": "5",
                  "D": "NNW",
                  "T": "2",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "0",
                  "R": "0.4"
                },
                {
                  "ftime": "2013-09-17 18:00:00",
                  "F": "5",
                  "D": "NNW",
                  "T": "2",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "0",
                  "R": "0.5"
                },
                {
                  "ftime": "2013-09-17 21:00:00",
                  "F": "4",
                  "D": "NW",
                  "T": "1",
                  "W": "Sleet",
                  "N": "100",
                  "TD": "0",
                  "R": "1.1"
                },
                {
                  "ftime": "2013-09-18 00:00:00",
                  "F": "3",
                  "D": "NW",
                  "T": "1",
                  "W": "Sleet",
                  "N": "100",
                  "TD": "-1",
                  "R": "1.5"
                },
                {
                  "ftime": "2013-09-18 03:00:00",
                  "F": "2",
                  "D": "NW",
                  "T": "1",
                  "W": "Sleet",
                  "N": "100",
                  "TD": "-1",
                  "R": "1.7"
                },
                {
                  "ftime": "2013-09-18 06:00:00",
                  "F": "2",
                  "D": "NW",
                  "T": "2",
                  "W": "Light sleet",
                  "N": "100",
                  "TD": "-1",
                  "R": "0.9"
                },
                {
                  "ftime": "2013-09-18 09:00:00",
                  "F": "2",
                  "D": "NW",
                  "T": "2",
                  "W": "Light rain",
                  "N": "80",
                  "TD": "-1",
                  "R": "0.6"
                },
                {
                  "ftime": "2013-09-18 12:00:00",
                  "F": "1",
                  "D": "NNW",
                  "T": "3",
                  "W": "Light rain",
                  "N": "90",
                  "TD": "0",
                  "R": "0.3"
                },
                {
                  "ftime": "2013-09-18 15:00:00",
                  "F": "2",
                  "D": "NNE",
                  "T": "4",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "1",
                  "R": "0.2"
                },
                {
                  "ftime": "2013-09-18 18:00:00",
                  "F": "2",
                  "D": "NNE",
                  "T": "2",
                  "W": "Cloudy",
                  "N": "80",
                  "TD": "1",
                  "R": "0.2"
                },
                {
                  "ftime": "2013-09-18 21:00:00",
                  "F": "1",
                  "D": "NE",
                  "T": "1",
                  "W": "Cloudy",
                  "N": "50",
                  "TD": "0",
                  "R": "0.1"
                },
                {
                  "ftime": "2013-09-19 00:00:00",
                  "F": "1",
                  "D": "NNE",
                  "T": "1",
                  "W": "Cloudy",
                  "N": "60",
                  "TD": "0",
                  "R": "0.1"
                },
                {
                  "ftime": "2013-09-19 03:00:00",
                  "F": "0",
                  "D": "Calm",
                  "T": "1",
                  "W": "Cloudy",
                  "N": "50",
                  "TD": "-1",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 06:00:00",
                  "F": "1",
                  "D": "ESE",
                  "T": "1",
                  "W": "Cloudy",
                  "N": "80",
                  "TD": "-1",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 09:00:00",
                  "F": "2",
                  "D": "SE",
                  "T": "2",
                  "W": "Overcast",
                  "N": "90",
                  "TD": "0",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 12:00:00",
                  "F": "2",
                  "D": "SE",
                  "T": "6",
                  "W": "Overcast",
                  "N": "100",
                  "TD": "3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 15:00:00",
                  "F": "2",
                  "D": "ESE",
                  "T": "8",
                  "W": "Overcast",
                  "N": "90",
                  "TD": "3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-19 18:00:00",
                  "F": "1",
                  "D": "SE",
                  "T": "1",
                  "W": "Overcast",
                  "N": "100",
                  "TD": "-1",
                  "R": "0.1"
                },
                {
                  "ftime": "2013-09-20 00:00:00",
                  "F": "1",
                  "D": "ESE",
                  "T": "1",
                  "W": "Light sleet",
                  "N": "100",
                  "TD": "-1",
                  "R": "0.5"
                },
                {
                  "ftime": "2013-09-20 06:00:00",
                  "F": "1",
                  "D": "E",
                  "T": "1",
                  "W": "Light sleet",
                  "N": "100",
                  "TD": "0",
                  "R": "0.4"
                },
                {
                  "ftime": "2013-09-20 12:00:00",
                  "F": "1",
                  "D": "SSE",
                  "T": "1",
                  "W": "Light sleet",
                  "N": "100",
                  "TD": "0",
                  "R": "1.2"
                },
                {
                  "ftime": "2013-09-20 18:00:00",
                  "F": "1",
                  "D": "SW",
                  "T": "2",
                  "W": "Cloudy",
                  "N": "30",
                  "TD": "0",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-21 00:00:00",
                  "F": "2",
                  "D": "SW",
                  "T": "-1",
                  "W": "Cloudy",
                  "N": "90",
                  "TD": "-3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-21 06:00:00",
                  "F": "2",
                  "D": "SSW",
                  "T": "0",
                  "W": "Overcast",
                  "N": "100",
                  "TD": "-2",
                  "R": "0.3"
                },
                {
                  "ftime": "2013-09-21 12:00:00",
                  "F": "2",
                  "D": "SW",
                  "T": "3",
                  "W": "Overcast",
                  "N": "100",
                  "TD": "0",
                  "R": "0.1"
                },
                {
                  "ftime": "2013-09-21 18:00:00",
                  "F": "1",
                  "D": "SSW",
                  "T": "3",
                  "W": "Cloudy",
                  "N": "60",
                  "TD": "1",
                  "R": "0.1"
                },
                {
                  "ftime": "2013-09-22 00:00:00",
                  "F": "1",
                  "D": "SSW",
                  "T": "-1",
                  "W": "Cloudy",
                  "N": "70",
                  "TD": "-1",
                  "R": "0.1"
                },
                {
                  "ftime": "2013-09-22 06:00:00",
                  "F": "1",
                  "D": "SSE",
                  "T": "-3",
                  "W": "Overcast",
                  "N": "90",
                  "TD": "-3",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-22 12:00:00",
                  "F": "1",
                  "D": "ESE",
                  "T": "0",
                  "W": "Light snow",
                  "N": "100",
                  "TD": "-1",
                  "R": "0.0"
                },
                {
                  "ftime": "2013-09-22 18:00:00",
                  "F": "1",
                  "D": "ESE",
                  "T": "1",
                  "W": "Light sleet",
                  "N": "100",
                  "TD": "0",
                  "R": "1.2"
                },
                {
                  "ftime": "2013-09-23 00:00:00",
                  "F": "1",
                  "D": "SSE",
                  "T": "3",
                  "W": "Light rain",
                  "N": "100",
                  "TD": "1",
                  "R": "1.4"
                }
              ],
              "id": "422",
              "valid": "1"
            }
          ]
        }

  box.light.endpoint.disabled
    +disabledtitlebar('get','/weather/observations/:lang')
    .content
      h5.params(toggle-next) Parameters
      dl.params
        dt /:lang
        dd Language of output ('en' or 'is'), defaults to 'is'
        dt.required stations
        dd List of station numbers seperated by commas(,) or semicolons(;).<br/>See links below for more information.<br/>
          <a href="http://www.vedur.is/vedur/stodvar" target="_blank">Weather stations (icelandic)</a> | <a href="http://en.vedur.is/weather/stations/" type="_blank">Weather stations (english)</a>
        dt time
        dd 1h (default) = Fetch data from automatic weather stations that are updated on the hour.<br/>3h = Only fetch mixed data from manned and automatic weather stations that is updated every 3 hours.
        dt anytime
        dd 0 (default) = an error will be returned if current data is not available.<br/>1 = last available numbers will be displayed, regardless of date.

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/weather/observations/en',
          'type': 'GET',
          'dataType': 'json',
          'data': {'stations': '1,422', 'time': '1h', 'anytime': '0'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "name": "Reykjavík",
              "time": "2013-09-17 16:00:00",
              "err": "",
              "link": "http://en.vedur.is/WeatherServlet/weather/observations/areas/reykjavik/#group=100&station=1",
              "F": "8",
              "FX": "9",
              "FG": "16",
              "D": "NNE",
              "T": "5.6",
              "W": "",
              "V": "",
              "N": "",
              "P": "1003",
              "RH": "58",
              "SNC": "",
              "SND": "",
              "SED": "",
              "RTE": "",
              "TD": "-2.0",
              "R": "0.1",
              "id": "1",
              "valid": "1"
            },
            {
              "name": "Akureyri",
              "time": "2013-09-17 16:00:00",
              "err": "",
              "link": "http://en.vedur.is/WeatherServlet/weather/observations/areas/northeast/#group=15&station=422",
              "F": "10",
              "FX": "11",
              "FG": "15",
              "D": "NNW",
              "T": "3.3",
              "W": "",
              "V": "",
              "N": "",
              "P": "1001",
              "RH": "79",
              "SNC": "",
              "SND": "",
              "SED": "",
              "RTE": "",
              "TD": "0.0",
              "R": "0.0",
              "id": "422",
              "valid": "1"
            }
          ]
        }

  box.light.endpoint.disabled
    +disabledtitlebar('get','/weather/texts')
    .content
      h5.params(toggle-next) Parameters
      dl.params
        dt.required types
        dd List of types seperated by commas(,) or semicolons(;).<br/>See 'Valid types' below for full list of valid type numbers and what they stand for.

      h5.valid-types(toggle-next='closed') Valid types
      pre.valid-types: code.javascript.
        "2" = "Veðurhorfur á landinu"
        "3" = "Veðurhorfur á höfuðborgarsvæðinu"
        "5" = "Veðurhorfur á landinu næstu daga"
        "6" = "Veðurhorfur á landinu næstu daga"
        "7" = "Weather outlook"
        "9" = "Veðuryfirlit"
        "10" = "Veðurlýsing"
        "11" = "Íslenskar viðvaranir fyrir land"
        "12" = "Veðurhorfur á landinu"
        "14" = "Enskar viðvaranir fyrir land"
        "27" = "Weather forecast for the next several days"
        "30" = "Miðhálendið"
        "31" = "Suðurland"
        "32" = "Faxaflói"
        "33" = "Breiðafjörður"
        "34" = "Vestfirðir"
        "35" = "Strandir og Norðurland vestra"
        "36" = "Norðurlandi eystra"
        "37" = "Austurland að Glettingi"
        "38" = "Austfirðir"
        "39" = "Suðausturland"
        "42" = "General synopsis

      h5.demo(toggle-next='closed') jQuery demo
      pre.demo: code.javascript.
        $.ajax({
          'url': 'http://apis.is/weather/texts',
          'type': 'GET',
          'dataType': 'json',
          'data': {'types': '5,6'},
          'success': function(response) {
            console.log(response);
          }
        });

      h5.response(toggle-next='closed') Response
      pre.response: code.json.
        {
          "results": [
            {
              "title": "Veðurhorfur á landinu næstu daga",
              "creation": "2013-09-17 09:16:29",
              "valid_from": "2013-09-19 12:00:00",
              "valid_to": "2013-09-24 12:00:00",
              "content": "Á fimmtudag: Suðaustan 8-13 m/s S- og V-lands og rigning með köflum, en hægari og bjartviðri á NA- og A-landi. Hiti 2 til 10 stig, kaldast í innsveitum NA-lands. Á föstudag: Suðaustlæg eða breytileg átt, 3-10 m/s. Rigning eða skúrir í flestum landshlutum. Hiti 3 til 8 stig. Á laugardag: Vestan- og norðvestanátt, víða 3-8 m/s. Skýjað að mestu en úrkomulítið um V- og N-vert landið, en bjartviðri annars staðar. Hiti 3 til 10 stig, hlýjast á SA-landi. Á sunnudag: Útlit fyrir vaxandi suðaustanátt með rigningu, einkum S-til á landinu. Hlýnar í veðri. Á mánudag: Horfur á suðvestanátt með rigningu eða skúrum, en þurrt og bjart eystra.",
              "id": "5"
            },
            {
              "title": "Veðurhorfur á landinu næstu daga",
              "creation": "2013-09-17 09:19:17",
              "valid_from": "2013-09-19 12:00:00",
              "valid_to": "2013-09-24 12:00:00",
              "content": "Suðaustan 8-13 m/s á fimmtudag S- og V-lands og rigning með köflum, en hægari og þurrt annars staðar. Breytileg átt 5-10 á föstudag og víða væta, en 3-8 á laugardag og úrkomulítið. Horfur á vaxandi suðaustanátt á sunnudag með rigningu og hlýnandi veðri.",
              "id": "6"
            }
          ]
        }
