hero.blue(window-height='force:true,subtract:40' scrolltrigger)
  inner: row: column
    h1.logo {apis.is}
    .limit.padding.text-center
      p.large Our purpose is to make data readily available to anyone interested
      p Would you like to suggest a new endpoint to be implemented?<br/>Don't hesitate to <a class="light" href="mailto:apis@apis.is">contact us</a>, or contribute to our <a class="light" href="https://github.com/kristjanmik/apis" target="_blank">github repository</a>.
      .arrows
        icon.icon-down.one
        icon.icon-down.two
        icon.icon-down.three
